@import "./style.css";

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

body {
    min-height: 100svh;
    background-image: url(../media/hero-banner\ comp.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;  
}

.container {
    color: rgb(219, 215, 215);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

header {
    place-items: center;
    font-size: 30px;
    opacity: 0.7;
}

.about-div {
    text-align: center;
    font-size: 25px;
    opacity: 0.9;
}

.profile-pic {
    border-radius: 50%;
    margin-right: 50px;
}

.about-content {
    display: flex;
    font-size: 20px;
}

.about-text {
    text-align: center;
}

.git-icon {
    border-radius: 50%;
    height: 300px;
    margin-top: 30px;
}

.contact-heading {
    text-align: center;
    font-size: 25px;
    opacity: 0.9;
}

.contact-list {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
}

.git-link {
    color: rgb(77, 56, 192);
}

.git-link:hover{
    color: rgb(53, 135, 179);
}

.email-icon {
    border-radius: 50%;
    height: 300px;
    margin-top: 30px
}