@import "./style.css";

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

body {
    min-height: 100svh;
    background-image: url(../media/hero-banner-comp.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;  
}

.container {
    color: rgb(219, 215, 215);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

header {
    place-items: center;
    font-size: 30px;
    opacity: 0.7;
    transition: 0.5s ease-in-out;
}

header:hover {
    transform: translateY(-20px);
}

.about-div {
    text-align: center;
    font-size: 25px;
    opacity: 0.9;
}

.profile-pic {
    height: 400px;
    border-radius: 50%;
    margin-right: 50px;
}

.about-content {
    display: flex;
    font-size: 20px;
}

.about-text {
    text-align: center;
}

.git-icon {
    border-radius: 50%;
    height: 300px;
    margin-top: 30px;
}

.contact-heading {
    display: inline-block;
    text-align: center;
    font-size: 25px;
    opacity: 0.9;
}

.contact-list {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
}

.git-link {
    color: rgb(77, 56, 192);
}

.git-link:hover{
    color: rgb(53, 135, 179);
}

footer {
    background-color: rgb(81, 41, 200);
    margin-top: 50px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-txt {
    margin-left: 30px;
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.footer-btn {
    margin-right: 30px;
    height: 50px;
    width: 150px;
    opacity: 0.9;
}

.footer-btn:hover {
    cursor: pointer;
}

@media (max-width: 1000px) {
    .about-content {
        display: grid;
    }
    .profile-pic {
        margin: auto;
    }
}

@media (max-width: 750px) {
    .footer-txt {
        font-size: 30px;
    }
    .contact-list {
        display: grid;
    }
    .contact-pic {
        margin: auto;
    }
}

@media (max-width: 600px) {
    .footer-txt {
        font-size: 25px;
    }
}

@media (max-width: 530px) {
    .footer-txt{
        font-size: 20px;
    }
    .profile-pic {
        height: auto;
        width: 300px;
    }
    .contact-pic {
        height: auto;
        width: 300px;
        margin: auto;
    }
}
